
$main_color: #0036c1; //rgba(0, 54, 193, 100)
$second_color: #312375; //rgba(49, 35, 117, 100)
$akcent_color: #f5a65b; //rgba(245, 166, 91, 100)
$color4: #8bbd8b; //rgba(139, 189, 139, 100)
$color5: #c1cc99; //rgba(193, 204, 153, 100)