<!DOCTYPE html>
<html lang="en" ng-app="fp">
<head>
    <title>Fishing place</title>
    {{>head}}
</head>
<body ng-controller="mainCtrl">

<ng-view></ng-view>


<script src="bower/lodash/dist/lodash.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>

</body>
</html>