<nav class="navbar navbar-inverse navbar-fixed-top"> </nav>
<div class="container-fluid" ng-controller="homeCtrl">
    <div class="content_wrap row">
        <div id="map_wrapper">
            <div id="map_canvas" class="col-md-12 col-sm-12 col-xs-12">
            </div>
            <div id="new_marker_btn">new Marker</div>
        </div>
    </div>
    <div class="row">

    </div>

        <div class="content col-md-12">
                    <div class="search col-md-6 col-sm-6 col-xs-12">
                        <label for="query">Search:</label>
                        <input type="text" name="query" id="query" class="form-control" ng-model="yourRequest">
                        <p class="search_info">//search by type of fishing and fish</p>
                    </div>
                    <div class="items_content col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4">
                            <div class="item_fp">1</div>
                        </div>
                        <div class="col-md-4">
                            <div class="item_fp">2</div>
                        </div>
                        <div class="col-md-4">
                            <div class="item_fp">3</div>
                        </div>
                        <div class="col-md-4">
                            <div class="item_fp">4</div>
                        </div>


                        <!--<div ng-repeat="fish_place in fish_places"></div>-->
                    </div>
        </div>
    </div>
</div>
<!--
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsxEN8Ro20ON0Cja3nC820e7PZdoTJJPw"
        async defer></script>-->
