<div class="wrap_video">
    <video id="video" autoplay="true" loop>
      <source src="resource/WaterBG.mp4" type="video/mp4"> 
    </video>
    <div class="wrap">
                <div class="entry col-md-3" ng-controller="loginCtrl">
                    <div class="panel panel-default">

                      <!-- ng-if='logFormFlag' -->
                       <div class="panel-body">
                            <h2>Login</h2>
                           <form id="log" name="logForm" novalidate ng-submit="logIn(User)">
                               <div class="form-group">
                                   <label for="username">NAME: </label>
                                   <input type="text" class="form-control" name="username" id="username" ng-minlength='2' ng-model="User.name" required>
                                   <span class="warmAlert" ng-show="logForm.username.$error.minlength">Username is too short.</span>
                                   <span class="warmAlert" ng-show="logForm.username.$dirty && logForm.username.$error.required">Username is required!</span>
                               </div>
                               <div class="form-group">
                                   <label for="password">PASSWORD:</label>
                                   <input type="password" class="form-control" name="password" id="password" ng-model="User.password"  ng- required>
                                   <span class="warmAlert" ng-show="logForm.password.$dirty && logForm.password.$error.required">Password is required!</span>
                               </div>
                               <button type="submit" class="btn btn-primary" ng-disabled="logForm.$invalid">LOGIN</button>
                               <a class="btn btn-success" href="#/registration">Registration</a>
                           </form>    
                       </div>
                    </div>
                </div>
    </div>
</div>