<div class="wrap_bg">
        <div class="wrap">
              <div class="entry" ng-controller="registrCtrl">
                    <div class="card">
                     <!--  ng-if='!logFormFlag' -->
                       <div class="card-body" >

                           <h2>REGISTRATION</h2>
                           <!--<div  ng-show='error' class="alert alert-danger">{{error}}</div>-->
                           <form name="RegForm" novalidate ng-submit="addUser(newUser)">
                               <div class="form-group">
                                   <label for="regname">NAME: </label>
                                   <input type="text" class="form-control" id="regname" name="regname" ng-minlength='2' ng-model="newUser.regname" required>
                                   <span class="warmAlert" ng-show="RegForm.regname.$error.minlength">Username is too short.</span>
                                   <span  class="warmAlert" ng-show="RegForm.regname.$dirty && RegForm.regname.$error.required">Name is required!</span>
                               </div>
                               <div class="form-group">
                                   <label for="regpassword">PASSWORD:</label>
                                   <input type="password"  class="form-control" id="regpassword" name='regpassword' ng-model="newUser.regpassword" required minlength='6' ng-change="confirm(newUser.repeat_password)">
                                   <span class="warmAlert" ng-show="RegForm.regpassword.$error.minlength">Password is too short.(minimum length of 6 characters)</span>
                                   <span  class="warmAlert" ng-show="RegForm.regpassword.$dirty && RegForm.regpassword.$error.required">Password is required!</span>
                               </div>

                               <!-- or use ng-blur="confirm(newUser.repeat_password)" -->
                               <!-- ng-model-options="{ updateOn: 'blur'}" -->

                                <div class="form-group">
                                    <label>EMAIL:</label>
                                    <input name="userEmail" type="email" class="form-control" required ng-model="newUser.email">
                                    <span class="warmAlert" ng-show="RegForm.userEmail.$invalid && RegForm.userEmail.$dirty && RegForm.userEmail.$error.email">
                                            Please enter a valid email address
                                    </span>
                                    <span class="warmAlert" ng-show="RegForm.userEmail.$invalid && RegForm.userEmail.$dirty &&RegForm.userEmail.$error.required">
                                            Please enter a value
                                    </span>

                                </div>


                              <br>
                               <a  class="btn btn-default-outline" href="/login"><span class="glyphicon glyphicon-undo"></span>Back</a>
                               <button ng-submit class="btn btn-primary-outline" ng-disabled="RegForm.$invalid">REGISTER NOW</button>
                           </form>
                       </div>
                    </div>
              </div>
        </div>
</div>
